USE [classicmodels]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 31-Jul-18 11:09:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[customerNumber] [int] NOT NULL,
	[customerName] [nvarchar](50) NOT NULL,
	[contactLastName] [nvarchar](50) NOT NULL,
	[contactFirstName] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
	[addressLine1] [nvarchar](50) NOT NULL,
	[addressLine2] [nvarchar](50) NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[state] [nvarchar](50) NOT NULL,
	[postalCode] [nvarchar](50) NULL,
	[country] [nvarchar](50) NOT NULL,
	[salesRepEmployeeNumber] [nvarchar](50) NOT NULL,
	[creditLimit] [float] NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[customerNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 31-Jul-18 11:09:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[employeeNumber] [int] NOT NULL,
	[lastName] [nvarchar](50) NOT NULL,
	[firstName] [nvarchar](50) NOT NULL,
	[extension] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[officeCode] [nvarchar](50) NOT NULL,
	[reportsTo] [nvarchar](50) NULL,
	[jobTitle] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[employeeNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Offices]    Script Date: 31-Jul-18 11:09:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Offices](
	[officeCode] [nvarchar](50) NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
	[addressLine1] [nvarchar](50) NOT NULL,
	[addressLine2] [nvarchar](50) NULL,
	[state] [nvarchar](50) NULL,
	[country] [nvarchar](50) NOT NULL,
	[postalCode] [nvarchar](50) NOT NULL,
	[territory] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Offices] PRIMARY KEY CLUSTERED 
(
	[officeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 31-Jul-18 11:09:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[orderNumber] [int] NOT NULL,
	[productCode] [nvarchar](50) NOT NULL,
	[quantityOrdered] [int] NOT NULL,
	[priceEach] [float] NOT NULL,
	[orderLineNumber] [int] NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[orderNumber] ASC,
	[productCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 31-Jul-18 11:09:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[orderNumber] [int] NOT NULL,
	[orderDate] [datetime2](7) NOT NULL,
	[requiredDate] [datetime2](7) NOT NULL,
	[shippedDate] [nvarchar](50) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[comments] [nvarchar](200) NOT NULL,
	[customerNumber] [int] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[orderNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 31-Jul-18 11:09:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[customerNumber] [int] NOT NULL,
	[checkNumber] [nvarchar](50) NOT NULL,
	[paymentDate] [datetime2](7) NOT NULL,
	[amount] [float] NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[customerNumber] ASC,
	[checkNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 31-Jul-18 11:09:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[productCode] [nvarchar](50) NOT NULL,
	[productName] [nvarchar](50) NOT NULL,
	[productLine] [nvarchar](50) NOT NULL,
	[productScale] [nvarchar](50) NOT NULL,
	[productVendor] [nvarchar](50) NOT NULL,
	[productDescription] [nvarchar](500) NOT NULL,
	[quantityInStock] [int] NOT NULL,
	[buyPrice] [float] NOT NULL,
	[MSRP] [float] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[productCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Customers] ([customerNumber], [customerName], [contactLastName], [contactFirstName], [phone], [addressLine1], [addressLine2], [city], [state], [postalCode], [country], [salesRepEmployeeNumber], [creditLimit]) VALUES (103, N'Atelier graphique', N'Schmitt', N'Carine ', N'40.32.2555', N'54, rue Royale', N'NULL', N'Nantes', N'NULL', N'44000', N'France', N'1370', 21000)
INSERT [dbo].[Customers] ([customerNumber], [customerName], [contactLastName], [contactFirstName], [phone], [addressLine1], [addressLine2], [city], [state], [postalCode], [country], [salesRepEmployeeNumber], [creditLimit]) VALUES (112, N'Signal Gift Stores', N'King', N'Sue', N'7025551838', N'8489 Strong St.', N'NULL', N'Las Vegas', N'NV', N'83030', N'USA', N'1166', 71800)
INSERT [dbo].[Customers] ([customerNumber], [customerName], [contactLastName], [contactFirstName], [phone], [addressLine1], [addressLine2], [city], [state], [postalCode], [country], [salesRepEmployeeNumber], [creditLimit]) VALUES (114, N'Australian Collectors Co.', N'Ferguson', N'Peter', N'03 9520 4555', N'636 St Kilda Road', N'Level 3', N'Melbourne', N'Victoria', N'3004', N'Australia', N'1611', 117300)
GO
INSERT [dbo].[Employees] ([employeeNumber], [lastName], [firstName], [extension], [email], [officeCode], [reportsTo], [jobTitle]) VALUES (1002, N'Murphy', N'Diane', N'x5800', N'dmurphy@classicmodelcars.com', N'1', N'NULL', N'President')
INSERT [dbo].[Employees] ([employeeNumber], [lastName], [firstName], [extension], [email], [officeCode], [reportsTo], [jobTitle]) VALUES (1056, N'Patterson', N'Mary', N'x4611', N'mpatterso@classicmodelcars.com', N'1', N'1002', N'VP Sales')
INSERT [dbo].[Employees] ([employeeNumber], [lastName], [firstName], [extension], [email], [officeCode], [reportsTo], [jobTitle]) VALUES (1076, N'Firrelli', N'Jeff', N'x9273', N'jfirrelli@classicmodelcars.com', N'1', N'1002', N'VP Marketing')
INSERT [dbo].[Offices] ([officeCode], [city], [phone], [addressLine1], [addressLine2], [state], [country], [postalCode], [territory]) VALUES (N'1', N'San Francisco', N'+1 650 219 4782', N'100 Market Street', N'Suite 300', N'CA', N'USA', N'94080', N'NA')
INSERT [dbo].[Offices] ([officeCode], [city], [phone], [addressLine1], [addressLine2], [state], [country], [postalCode], [territory]) VALUES (N'2', N'Boston', N'+1 215 837 0825', N'1550 Court Place', N'Suite 102', N'MA', N'USA', N'02107', N'NA')
INSERT [dbo].[Offices] ([officeCode], [city], [phone], [addressLine1], [addressLine2], [state], [country], [postalCode], [territory]) VALUES (N'3', N'NYC', N'+1 212 555 3000', N'523 East 53rd Street', N'apt. 5A', N'NY', N'USA', N'10022', N'NA')
INSERT [dbo].[OrderDetails] ([orderNumber], [productCode], [quantityOrdered], [priceEach], [orderLineNumber]) VALUES (10100, N'S18_1749', 30, 171.7, 3)
INSERT [dbo].[OrderDetails] ([orderNumber], [productCode], [quantityOrdered], [priceEach], [orderLineNumber]) VALUES (10100, N'S18_2248', 50, 67.8, 2)
INSERT [dbo].[OrderDetails] ([orderNumber], [productCode], [quantityOrdered], [priceEach], [orderLineNumber]) VALUES (10100, N'S18_4409', 22, 86.51, 4)
GO
INSERT [dbo].[Orders] ([orderNumber], [orderDate], [requiredDate], [shippedDate], [status], [comments], [customerNumber]) VALUES (10100, CAST(N'2003-01-06T00:00:00.0000000' AS DateTime2), CAST(N'2003-01-13T00:00:00.0000000' AS DateTime2), N'2003/1/10 0:00:00', N'Shipped', N'NULL', 363)
INSERT [dbo].[Orders] ([orderNumber], [orderDate], [requiredDate], [shippedDate], [status], [comments], [customerNumber]) VALUES (10101, CAST(N'2003-01-09T00:00:00.0000000' AS DateTime2), CAST(N'2003-01-18T00:00:00.0000000' AS DateTime2), N'2003/1/11 0:00:00', N'Shipped', N'Check on availability.', 128)
INSERT [dbo].[Orders] ([orderNumber], [orderDate], [requiredDate], [shippedDate], [status], [comments], [customerNumber]) VALUES (10102, CAST(N'2003-01-10T00:00:00.0000000' AS DateTime2), CAST(N'2003-01-18T00:00:00.0000000' AS DateTime2), N'2003/1/14 0:00:00', N'Shipped', N'NULL', 181)
GO
INSERT [dbo].[Payments] ([customerNumber], [checkNumber], [paymentDate], [amount]) VALUES (103, N'HQ336336', CAST(N'2004-10-19T00:00:00.0000000' AS DateTime2), 5307.98)
INSERT [dbo].[Payments] ([customerNumber], [checkNumber], [paymentDate], [amount]) VALUES (103, N'JM555205', CAST(N'2003-06-05T00:00:00.0000000' AS DateTime2), 16560.3)
INSERT [dbo].[Payments] ([customerNumber], [checkNumber], [paymentDate], [amount]) VALUES (103, N'OM314933', CAST(N'2004-12-18T00:00:00.0000000' AS DateTime2), 2311.68)
GO
INSERT [dbo].[Products] ([productCode], [productName], [productLine], [productScale], [productVendor], [productDescription], [quantityInStock], [buyPrice], [MSRP]) VALUES (N'S10_1678', N'1969 Harley Davidson Ultimate Chopper', N'Motorcycles', N'1:10', N'Min Lin Diecast', N'This replica features working kickstand, front suspension, gear-shift lever, footbrake lever, drive chain, wheels and steering. All parts are particularly delicate due to their precise scale and require special care and attention.', 7933, 48.81, 95.7)
INSERT [dbo].[Products] ([productCode], [productName], [productLine], [productScale], [productVendor], [productDescription], [quantityInStock], [buyPrice], [MSRP]) VALUES (N'S10_1949', N'1952 Alpine Renault 1300', N'Classic Cars', N'1:10', N'Classic Metal Creations', N'Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.', 7305, 98.58, 214.3)
GO
